strong {
    font-weight: 600;
}

#total {
    font-weight: 600;
}

.dados__principais {
    padding: 0 1.5rem;
}


#btn-adicionar {
    width: 100%;
    margin-top: 1rem;
}

.btn-remover {
    background-color: transparent !important;
    border: none !important;
    border-radius: 0 !important;
    padding: auto !important;
    margin: 0 !important;
}

.td__format {
    text-align: end;
    white-space: nowrap;
}
